# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Learning Materials\TongjiUniversity\计算机（C++，VB，Database）\JavaIDEA\FlappyBirdTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
